<footer class="mt-5">
  <div class="container">
    <div class="row text-muted">
      <div class="col-6 col-sm-3 mb-2">
        <div class="h4 text-muted mb-2">Hinsencamp</div>
        <small>
          Copyright © Fabian Hinsenkamp {{ site.time | date: "%Y" }}.<br />
          Alle Rechte vorbehalten.
        </small>
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <div class="h6 text-uppercase text-muted">Pages</div>
        <ul class="list-unstyled">
          <li><a href="/article/all/">All Articles</a></li>
          <!-- <li><a href="/team/">about me</a></li> -->
        </ul>
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <div class="h6 text-uppercase text-muted">Follow Me</div>
        <ul class="list-unstyled">
          <li>
            <a
              href="https://twitter.com/Fa_Hinse"
              target="_blank"
              rel="noopener"
              >Twitter</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <div class="h6 text-uppercase text-muted">Legal</div>
        <ul class="list-unstyled">
          <li><a href="/impressum/">Impressum</a></li>
          <li><a href="/datenschutz/">Data Security</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
