<footer>
  <div class="container">
    <div class="row text-light ">
      <div class="col-6 col-sm-3 mb-2">
        <div class="h4  mb-2">Hinsencamp</div>
        <small>
          Copyright © Fabian <br />
          Hinsenkamp {{ site.time | date: "%Y" }}.<br />
          All Rights Reserved.
        </small>
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <div class="h6 text-uppercase text-light">Pages</div>
        <ul class="list-unstyled">
          <li><a href="/article/all/">All Articles</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <div class="h6 text-uppercase text-light">Follow Me</div>
        <ul class="list-unstyled">
          <li>
            <a
              href="https://twitter.com/hinsencamp"
              target="_blank"
              rel="noopener"
              >Twitter</a
            >
          </li>
          <li>
            <a href="https://github.com/fh48" target="_blank" rel="noopener"
              >Github</a
            >
          </li>
          <li>
            <a
              href="https://linkedin.com/in/fabianhinsenkamp"
              target="_blank"
              rel="noopener"
              >LinkedIn</a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=100015246930524"
              target="_blank"
              rel="noopener"
              >Facebook</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <div class="h6 text-uppercase text-light">Legal</div>
        <ul class="list-unstyled">
          <li><a href="/impressum/">Imprint</a></li>
          <li><a href="/datenschutz/">Privacy Statement</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
