<div id="mc_embed_signup">
  <form
  action="https://online.us20.list-manage.com/subscribe/post?u=37aa3fc635b8098b4d1fb7cf3&amp;id=85408e3dd1"
  method="post"
  id="mc-embedded-subscribe-form"
  name="mc-embedded-subscribe-form"
  class="validate"
  target="_blank"
  novalidate
>
  <div class="mc-field-group">
  <div class="input-wrapper d-flex justify-content-center">
    <div class="privacy-wrapper">
      <input
      type="email"
      placeholder="Enter your e-mail"
      name="EMAIL"
      class="required email news-letter-input input-lg"
      id="mce-EMAIL"
    />
      <p class="privacy-hint mt-1 mb-2">
        By submitting this form, you agree to this
        <a href="/datenschutz"> Privacy Policy</a>.
        </p>
    </div>
    <div class="clear">
      <input
      type="submit"
      value="Submit"
      name="subscribe"
      id="mc-embedded-subscribe"
      class="btn btn-primary text-light"
    />

    </div>
  </div>

  </div>
  </div>
  <div class="response input-error" id="mce-error-response" ></div>
  <div class="response input-error" id="mce-success-response" ></div>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input
      type="text"
      name="b_210acce5db69d3d4a04b0e25d_a268d63442"
      tabindex="-1"
      value=""
    />
  </div>

<!-- </div> -->
</form>


</div>

<!--End mc_embed_signup-->

<script
      type="text/javascript"
      src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
    />
    <script type="text/javascript">
      (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = "EMAIL";
        ftypes[0] = "email";
        fnames[1] = "FNAME";
        ftypes[1] = "text";
        fnames[2] = "LNAME";
        ftypes[2] = "text";
      })(jQuery);
      var $mcj = jQuery.noConflict(true);
</script>

