<div class="card h-100">
  <a
    href="{{ post.url }}"
    class="card-img card-img-top "
    style="height: 150px;
 background-image: url('/article/{{ post.slug }}/{{ post.header_image }}');
    "
  >
    <span class="c-post-categories">
      {% for category in post.categories %}
      <span class="text-uppercase">{{ category }}</span>
      {% unless forloop.last %}<span class="ml-1 mr-1">•</span>{% endunless %}
      {% endfor %}
    </span>
  </a>
  <a class="card-body text-dark no-decorator" href="{{ post.url }}">
    <span class="font-weight-bold">
      {{ post.title }}
    </span>
  </a>
</div>
