<article class="card mb-5">
  <div class="row">
    <div class="col-md-4">
      <a
        href="{{ post.url }}"
        class="card-img card-img-left"
        style="
        background-image: url('/article/{{ post.slug }}/{{
          post.header_image
        }}');"
      >
      </a>
    </div>
    <div class="col-md-8">
      <div class="py-4 px-3">
        <h2 class="h3 pb-1 mb-1">
          <a href="{{ post.url }}" class="text-body no-decorator">{{
            post.title
          }}</a>
        </h2>
        <small class="text-muted">
          {{ post.author }} <span class="ml-1 mr-1">•</span>
          <time>{{ post.published_at | date: "%d.%m.%Y" }}</time>
          <span class="ml-1 mr-1">|</span>
          {% include _reading_time.html text=post.content %}
        </small>

        <p class="mb-4 mt-3">
          {{ post.description }}
        </p>
        <a class="btn btn-outline-primary btn-sm px-4" href="{{ post.url }}">
          <span class="sr-only">{{ post.title }}</span> Read
        </a>
      </div>
    </div>
  </div>
</article>
