<div class="container mb-6">
  <h2 class="headline">Published By</h2>
  <p class="sub-headline">
    You can find my articles at a growing number of publications
  </p>
  <div class="row d-flex justify-content-center">
    <div class="col-8 col-sm-6 col-md-6 col-lg-5 mt-2 mb-4">
      <a href="https://medium.freecodecamp.org/search?q=fabian%20hinsenkamp">
        <img
          alt="freeCodeCamp"
          class="img-fluid black-svg"
          src="/assets/img/publications/free-code-camp.svg"
        />
      </a>
    </div>
    <div class="col-8 col-sm-6 col-md-6 col-lg-5 mt-2 mb-4">
      <a href="https://hackernoon.com/search?q=fabian%20hinsenkamp">
        <img
          alt="freeCodeCamp"
          class="img-fluid"
          src="/assets/img/publications/hackernoon-grey.png"
        />
      </a>
    </div>
  </div>
</div>
