footer {
  border-top: #eceff3 1px solid;
  padding: $spacer * 3 0 $spacer * 4;
  background: $vue-dark;

  li a {
    font-size: $small-font-size;
  }

  a {
    color: #fff;

    &:hover,
    &:focus {
      color: #bbb;
      text-decoration: none;
    }
  }
}
